/*Laget av Kay*/
.hytte-form .input-container {
  padding-bottom: 5px;
}

.hytte-form .input-container .input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hytte-form .lagre-btn {
  margin-top: 20px;
}

.hytte-form-textarea {
  resize: none;
  width: 100%;
  max-width: 400px;
}

.hytte-form-koordinat-bekreftelse {
  margin-top: 6px;
}

.hytte-form-bilder {
  margin-top: 10px;
}

.hytte-form-bilde {
  margin-right: 10px;
  max-width: 200px;
  max-height: 200px;
}
