/*Global CSS for kart. Laget av Kay */
.leaflet-container{
    height: calc(100vh - var(--navbar-height)); /*minus navbar*/
    width: 100%;
}

.kart-wrapper {
    position: relative;
    margin-top: var(--navbar-height);
    left: 0;
    right: 0;
    bottom: 0;
    height: calc(100vh - var(--navbar-height));
    z-index: 1;
}

.no-scale-marker {
    transform-origin: center;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
}