/*Laget av Kay*/
.tur-form .input-container {
  padding-bottom: 5px;
}

.tur-form .input-container .input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tur-form .lagre-btn {
  margin-top: 20px;
}

.tur-form-textarea {
  resize: none;
  width: 100%;
  max-width: 400px;
}

.tur-form-rute-knapper {
  gap: 8px;
  margin-top: 4px;
}

.tur-form-rute-bekreftelse {
  margin-top: 8px;
}

.tur-form-bilder {
  margin-top: 10px;
}

.tur-form-bilde {
  margin-right: 10px;
  max-width: 200px;
  max-height: 200px;
}
