* {
    font-family: poppins, sans-serif;
}

:root {
    --navbar-content-height: 34px; /*Obs. Dette er et "magic number". Kan endre seg etter størrelse på logo + nav links*/
    --navbar-padding: 40px;
    --navbar-height: calc(var(--announcement-bar-height) + var(--navbar-padding) + var(--navbar-content-height));
}

.header {
    position: fixed;
    top: var(--announcement-bar-height);;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: rgb(240, 240, 240);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: black;
    text-decoration: none;
}

.navbar a {
    position: relative;
    font-size: 20x;
    color: black;
    font-weight: 500;
    margin-left: 40px;
    text-decoration: none;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: green;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}