.Page {
    padding: 20px;
    margin: auto;
    align-content: center;
    position: relative;
    top: var(--navbar-height);
}

.Wrapper {
    font-size: 60px;
    font-weight: bold;
}

* {
    font-family: poppins, sans-serif;
}
