/*
Laget av Eivind
*/
.Page {
    padding: 20px;
    margin: 0 auto;
    margin-top: var(--navbar-height);
    align-content: center;
    max-width: 1700px;
}

.Wrapper {
    font-size: 60px;
    font-weight: bold;
}

* {
    font-family: poppins, sans-serif;
}
